In [62]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder

from sklearn.compose import ColumnTransformer

In [63]:
# Load the dataset
data = pd.read_csv('housing.csv')
data.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [64]:
data.isna().sum(axis = 0)

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

In [65]:
data.dropna(inplace = True)

In [66]:
data.isna().sum(axis = 0)

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
ocean_proximity       0
dtype: int64

In [77]:
# Separate features and target variable
X = data.drop(columns=['median_house_value'],axis =1)
y = data['median_house_value']

In [78]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [79]:
# Define the columns to be one-hot encoded
cat_columns = ['ocean_proximity']

In [80]:
# Create a column transformer to apply one-hot encoding only to the categorical columns
preprocessor = ColumnTransformer(
    transformers=[
        ('cat', OneHotEncoder(), cat_columns)
    ],
    remainder='passthrough'
)

# Fit the column transformer on the training data and transform both training and testing data
X_train_preprocessed = preprocessor.fit_transform(X_train)
X_test_preprocessed = preprocessor.transform(X_test)

In [81]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

In [106]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.tree import DecisionTreeRegressor
from sklearn.svm import SVR
from sklearn.ensemble import RandomForestRegressor

# Initialize the linear regression model
#  # model = LinearRegression()

# Train the model
# model.fit(X_train_preprocessed, y_train)

# decisiontree = DecisionTreeRegressor(random_state = 0)
# decisiontree.fit(X_train_preprocessed, y_train)
randomforestregressor = RandomForestRegressor(n_estimators = 15, random_state = 0)
randomforestregressor.fit(X_train_preprocessed,y_train)

RandomForestRegressor(n_estimators=15, random_state=0)

In [107]:
# Predict on the training set
train_predictions = model.predict(X_train_preprocessed)

# Predict on the testing set
y_pred = randomforestregressor.predict(X_test_preprocessed)

In [108]:
R2 = np.round(randomforestregressor.score(X_test_preprocessed, y_test), 2)
print(f"Le R carre de ce modele est de: {R2}")
# np.round permet de limite le nombre a 2 chiffre apr

# Le Random Forest Regressor is the best model to use
# par decisiontree le R2 cest 0.66

Le R carre de ce modele est de: 0.82

In [109]:
y_pred = y_pred.reshape(-1, 1)
y_test = np.array([y_test]).reshape(-1, 1)
print(np.concatenate((y_test, y_pred),1 ))

[[245800.         217480.06666667]
 [137900.         156020.        ]
 [218200.         199220.        ]
 ...
 [100200.          87246.66666667]
 [127700.         106626.66666667]
 [133700.         109006.66666667]]